page-editprofile {

  @import "../../theme/header";
  @import "../../theme/main";
  @import "../../theme/lessons";
  @import "../../theme/profiles";
  @import "../../theme/profileinfo";
  
  .schedule-holder * {
    font-size: 18px;
    margin: 10px 0px;
  }

  .book-holder {
    display: flex;
    justify-content: space-evenly;
    color: green;
  }

  .book-info {
    display: table-cell;
    text-align: center;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .book-button {
    font-size: 30px;
  }

  .lesson-form {
    margin-left: 10%;
    width: 80%;
  }
}
