<ion-header>
  <ion-navbar>
    <div class="app-header">
      <div style="width: 30%;"><img src="./assets/imgs/logo.png"></div>
      <div style="width: 70%;"><img src="./assets/imgs/title.png"></div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="profile-holder hacky-margin">
    <img class="profile-img" src="{{ user['image'] }}">
    <div class="profile-info">
      <div class="profile-name">
        {{user["name"]}}
      </div>
      <div class="profile-dist">
        {{user["distance"]}} mi.
      </div>
      <div class="profile-star">
        <ion-icon *ngFor="let starCount of user['starRange']" name="star"></ion-icon>
        <div style="float: right; padding-right: 40%;">{{ user['rating'] }}</div>
      </div>
    </div>

    <div style="clear: both;"></div>
  </div>

  <div style="align: center;"class="accordion">


    <div class="toggle" [ngClass]="{'section-active': openHolder == 0, 'section': openHolder != 0}">
      <div (click)="toggleAccordion(0)" class="profileTitle">
        <!-- {{user["name"]}}'s -->Profile
        <!-- <ion-icon *ngIf="openHolder == 0" class="acc-icon" name="arrow-down" color="dark" item-right></ion-icon>
        <ion-icon *ngIf="openHolder == 1" class="acc-icon" name="arrow-forward" color="dark" item-right></ion-icon> -->
      </div>
    </div>

    <div class="toggle" [ngClass]="{'section-active': openHolder == 1, 'section': openHolder != 1}">
      <div (click)="toggleAccordion(1)" class="profileTitle">
        <!-- {{user["name"]}}'s --> Schedule
        <!-- <ion-icon *ngIf="openHolder == 1" class="acc-icon" name="arrow-down" color="dark"></ion-icon>
        <ion-icon *ngIf="openHolder == 0" class="acc-icon" name="arrow-forward" color="dark"></ion-icon> -->
      </div>
    </div>

    <div style="clear: both;"></div>

    <div *ngIf="openHolder == 0" class="details-holder">
      <div class="profileDesc">{{user["description"]}}</div>
      <div><strong>Reviews </strong><strong style="color:#66B8E7">(1)</strong>:</div>
      <div *ngFor="let review of reviews">
        <div>
          <img class="reviewerPhoto" src="./assets/imgs/defaultProfile.png">
          <div class="reviewer">{{ review.reviewer }}</div>
          <div class="reviewDate">12 November, 7:31 PM</div>
        </div>
        <div><i class="reviewNote">{{ review["review"] }}</i></div>
      </div>
    </div>

    <div *ngIf="openHolder == 1" class="schedule-holder">
      <div>
        <div *ngFor="let lesson of lessons; let i = index" class="lesson-holder ">
          <input *ngIf="lessonTime == i" class="lessonRadio" (click)="toggleLessonRadio(i)" type="radio" name="lesson" value="{{i}}" checked>
          <input *ngIf="lessonTime != i" class="lessonRadio" (click)="toggleLessonRadio(i)" type="radio" name="lesson" value="{{i}}">

          <div class="lessonTime">{{lesson.dateStr}}&emsp;&emsp;{{lesson.timeStr}}</div>
          <div class="lessonPlace">{{lesson.place}} <ion-icon name="pin"></ion-icon></div>
          <div style="clear: both;"></div>
        </div>
      </div>
      <div style="padding-top:7%; text-align:left; padding-left:5%; padding-bottom:7%;"><u><a>See all openings</a></u></div>
    </div>
  </div>

  <div class="book-holder">
    <div class="book-info"><strong>{{ user['price'] }} Pts</strong></div>
    <button ion-button large float-right color="babyblue" (click)="confirmTrans(user)">Request</button>
  </div>

</ion-content>
