page-finalconfirm {
  .messageConfirm {
    font-size: 18px;
    padding-top: 50%;
    text-align: center;
  }

  .checkmark {
    font-size: 50px;
    text-align: center;
    padding-top: 10%;
    color: #66B8E7;
  }

  .okButton {
    text-align: center;
    padding-top: 40%;
  }
}
