<ion-navbar>
<!--
  <div class="app-header">
    <div style="margin-left: 10%; width: 30%;"><img src="./assets/imgs/logo.png"></div>
    <div style="width: 50%;"><img src="./assets/imgs/title.png"></div>
  </div>
-->
  <div class="app-header">
    <div style="width: 30%;"><img src="./assets/imgs/logo.png"></div>
    <div style="width: 70%;"><img src="./assets/imgs/title.png"></div>
  </div>

  <ion-buttons right>
    <button  ion-button icon-only (click)="goToSearch()">
      <ion-icon style=" color:#3E7EA2; padding-top: 40%;" name="search"></ion-icon>
    </button>
    <button  ion-button icon-only (click)="checkLogin()">
      <ion-icon style="padding-left:20%; padding-right:20%; padding-top: 40%; color:#3E7EA2" name="person"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>
<!--
  <ion-navbar>
    <div style="width: 40%;"><img src="./assets/imgs/title.png"></div>
    <ion-buttons right>
      <button ion-button icon-only (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon style="padding-left:20%; padding-right:20%;" name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
-->
