.book-holder {
  margin: 0 15% 0 15%;
}

.book-holder * {
  float: left;
}

.book-info {
  text-align: center;
  font-size: 30px;
  margin-top: 10px;
  color: green;
}

.book-button {
  font-size: 30px;
}