.app-header > div {
  float: left;
  /*display: flex;
  align-items: center;
  justify-content: center;*/
}

.app-header div img {
  height: 50px;
}

.app-header > div:last-child {
  padding-left: 2%;
}

.app-header > div:first-child {
  text-align: right;
  padding-right: 2%;
}

.header-ps {
  padding-top: 20px;
  text-align: center;
  font-size: 30px;
}