.inputBox {
  border: 1px solid #6297BC;
  width: 100%;
  float: left;
  padding: 10px;
  margin-bottom: 10px;
  color: #939393;
}

.skillEntry {
  margin-bottom: 20px;
}

.skillItem {
  float: left;
  width: 60%;
  margin: 0 5% 10px 0;
  padding: 10px 0px 10px 10px;
  text-align: left;
  background-color: lightgrey;
  border-radius: .5em;
  font-size: 15px;
}

.removeSkillBtn {
  color:red;
  float: left;
  width: 10%;
  margin-left: 12px;
  text-align: center;
  padding-top: 6px; 
  font-size: 24px; 
}

.dropdownStyle1 {
  width: 55%;
  float: left;
  padding: 2%;
  background-color: #F3F3F3;
  margin-right: 5%;
  }

.dropdownStyle2 {
  width: 100%;
  float: left;
  padding: 2%;
  margin-bottom: 5%;
  background-color: #F3F3F3;
}

input {
  color: #939393;
  font-weight: bold;
}

textarea {
  color: #939393;
}

select {
  color: #545454;
}