.profile-img {
  float: left;
  width: 30%;
  margin-left: 10%;
}

.profile-info {
  float: left;
  width: 50%;
  margin-left: 10%;
}

.profile-name,
.profile-dist,
.profile-star {
  color: white;
  padding-bottom: 5px;
}

.profile-name {
  font-size: 26px;
}

.profile-star ion-icon {
  font-size: 18px;
}

.profile-dist {
  font-size: 16px;
}

.profile-holder {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #66B8E7;
  border: 3px solid #B7DDF4;
}