<ion-header>
  <ion-navbar>
    <div style="width: 40%;"><img src="./assets/imgs/title.png"></div>
    <ion-buttons right>
      <button ion-button icon-only (click)="goToSearch()">
        <ion-icon name="search"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon style="padding-left:20%; padding-right:20%;" name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm()">
    <div class="personal-header">
      <div style="width: 30%; float: left;">
        <img src="./assets/imgs/defaultProfile.png">
        <p style="color: #545454">Add Profile Pic</p>
      </div>

      <div style="width: 70%; float: left;">
        <input type="text" placeholder="Full Name" [(ngModel)]="user.name" name="name" class="text-input, inputBox">
        <input type="text" placeholder="Zip" [(ngModel)]="user.zip" name="zip" class="text-input, inputBox">
        <div>
          <select [(ngModel)]="user.gender" name="gender" class="dropdown, dropdownStyle1" >
            <option disabled selected hidden> Gender </option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
          </select>
          <input type="text" placeholder="Age" [(ngModel)]="user.age" name="age" class="text-input, inputBox" style="width: 40%; float: left;">
        </div>
      </div>

      <div style="clear: both;"></div>
    </div>

    <select id="skillSelect" (change)="addSkill()" class="dropdown dropdownStyle2">
      <option disabled selected hidden> Skills </option>
      <option *ngFor="let skill of masterskills" value="{{skill}}">{{skill}}</option>
    </select>

    <div class="inputBox">
      <div style="font-weight:bold">All Skills Added:</div>
      <div *ngFor="let keyword of keywords">
        <div (click)="removeSkill(keyword)" class="skillItem">{{ keyword }}
          <ion-icon style="color:red" name="remove-circle"></ion-icon>
        </div>
      </div>
    </div>

    <textarea id="descText" [(ngModel)]="user.description" name="description" class="text-input, inputBox" rows=5 placeholder="Description Example: I am a professional chef with 25 years of experience in cooking Chinese and Thai food. I currently work at Novotei."></textarea>

    <input type="text" placeholder="Email" [(ngModel)]="user.email" name="email" class="text-input, inputBox">
    <input type="text" placeholder="Password" [(ngModel)]="user.password" name="password" class="text-input, inputBox">

    <button ion-button large float-right class="btn" color="babyblue" type="submit">Sign Up</button>
  </form>
</ion-content>
