<ion-header>
  <page-headerbar></page-headerbar>
</ion-header>

<ion-content padding>
  <form (ngSubmit)="logForm()">
    <div class="personal-header">
      <div style="width: 30%; float: left;">
        <img src="./assets/imgs/defaultProfile.png">
        <a (click)="addPhoto()" style="color: #545454">Add Profile Pic</a>
      </div>

      <div style="width: 70%; float: left;">
        <input type="text" placeholder="Full Name" [(ngModel)]="user.name" name="name" class="text-input, inputBox">
        <input type="text" placeholder="Zip" [(ngModel)]="user.zip" name="zip" class="text-input, inputBox">
        <div>
          <select [(ngModel)]="user.gender" name="gender" class="dropdown, dropdownStyle1" >
            <option disabled selected hidden> Gender </option>
            <option value="female">Female</option>
            <option value="male">Male</option>
            <option value="other">Other</option>
          </select>
          <input type="text" placeholder="Age" [(ngModel)]="user.age" name="age" class="text-input, inputBox" style="width: 40%; float: left;">
        </div>
      </div>

      <div style="clear: both;"></div>
    </div>

    <div *ngFor="let keyword of keywords; let i = index">
      <div class="skillEntry">
        <div class="skillItem">{{ keyword }}</div>
        <input type="text" placeholder="Points" style="width: 20%;" class="inputBox" value="{{pnts[i]}}">
        <ion-icon class="removeSkillBtn" (click)="removeSkill(keyword)" name="remove-circle"></ion-icon>
      </div>
    </div>

    <select id="skillSelect" (change)="addSkill()" class="dropdown dropdownStyle2">
      <option disabled selected hidden> Skills </option>
      <option *ngFor="let skill of masterskills" value="{{skill}}">{{skill}}</option>
    </select>

    <textarea id="descText" [(ngModel)]="user.description" name="description" class="text-input, inputBox" rows=5 placeholder="Description Example: I am a professional chef with 25 years of experience in cooking Chinese and Thai food. I currently work at Novotei."></textarea>

    <input type="text" placeholder="Email" [(ngModel)]="user.email" name="email" class="text-input, inputBox">
    <input type="text" placeholder="Password" [(ngModel)]="user.password" name="password" class="text-input, inputBox">

    <button ion-button large float-right class="btn" color="babyblue" type="submit">Sign Up</button>
  </form>
</ion-content>
