<ion-header>
  <page-headerbar></page-headerbar>
</ion-header>

<ion-content>
<div padding style="background-position: center center; background-size: contain; background-repeat: no-repeat; background-image: url('./assets/imgs/HomeImage.png'); height: 100%;" id="background-content">

<!--<input type="file" (change)="previewFile()"><br>-->
<!--<a (click)="insertUsers()">Insert Users</a><br/>-->
<!--<a (click)="encodeImages()">Encode Images</a><br/>-->
<!--<a (click)="insertLessons()">Insert Lessons</a>-->
<!--<a (click)="insertReviews()">Insert Reviews</a>-->

<!--  <p style="margin: 0px; text-align: center; font-size: 25px;">What would you like to learn today?</p>-->

  <ion-searchbar
    id="searchbar"
    class="search"
    [(ngModel)]="skillSearch"
    [showCancelButton]="shouldShowCancel"
    [debounce]="1000"
    (ionInput)="onSearchInput($event)"
    (ionCancel)="onSearchCancel($event)"
    [ngClass]="{'searchbar-firsttime': searchedYet == 0, 'searchbar': searchedYet == 1}">
  </ion-searchbar>

  <div *ngIf="searchedYet == 0" style="text-align: center; font-size: 24px; position: absolute; top: 5%; left: 50%; transform: translate(-50%,0); z-index: 0; width: 80%;">What would you like to learn today?</div>

  <div class="search-results" style="padding-top: 50px;">
  <ion-card *ngFor="let result of users" class="search-result" (click)="confirmTrans(result)">
    <ion-card-content>
      <img class="profile-img" src="{{ result['image'] }}">
      <div class="skill-leftinfo">
        <div class="skill-name">
          {{ result["keywords"].split(';')[0] | capWord }}
        </div>
        <div class="skill-desc">
          {{result["name"]}}
        </div>
        <div class="skill-star">
          <ion-icon *ngFor="let starCount of result['starRange']" name="star"></ion-icon>
        </div>
      </div>
      <div class="skill-rightinfo">
        <div class="skill-dist">
          {{result["distance"]}} mi.
        </div>
        <div class="skill-cost" style="color: green;">
          <strong>{{result["price"]}} Pts</strong>
        </div>
      </div>
    </ion-card-content>
  </ion-card>
  </div>

</div>
</ion-content>
