<ion-header>
  <ion-navbar>
    <ion-title>I-Skilled</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar
    [(ngModel)]="skillSearch"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearchInput($event)"
    (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>

  <ion-card *ngFor="let result of skills"  (click)="confirmTrans(result)">
    <ion-card-content>
      <img style="float: left; width: 20%;" src="profile_pic.png">
      <div style="float: left; width: 60%;">
        <p>{{result["name"]}}</p>
        <p>{{ result["keywords"].split(';')[0] | capWord }}</p>
        <ion-icon *ngFor="let starCount of result['starRange']" name="star"></ion-icon>
      </div>
      <div style="float: left; width: 20%;">
        <p>{{result["distance"]}} miles</p>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>
