page-search {

  @import "../../theme/skills";
  
  .searchbar-firsttime {
    top: 35%;
  }

  .searchbar {
    background-color: white;
    padding-top: 35px;
    top: 50px;
  }

  .search-results ion-card:nth-child(odd) {
    background-color: #DAEEF9;
  }

  .profile-img {
    float: left;
    max-width: 80px;
    max-height: 80px;
    width: 20%;
  }

  ion-card img {
    width: auto;
  }

  .search {
    position: fixed;
    float: left;
    width: 95%;
  }
}
